<%- include("../../partials/header.ejs") %> 
<body>
    <%- include("../../partials/navbar.ejs") %> 
    <div class="container">
        <hr>
        <h2>Usuários</h2>
        <a class="btn btn-success mt-4" href="/admin/users/create">Criar novo usuário</a>
        <hr>
        <div class="card mt-4">
            <div class="card-header">
                <h2>Criação de usuário</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>EMAIL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <th><%= user.id %> </th>
                                <th><%= user.email %> </th>
                            </tr>
                        <% }) %>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %> 